.container .filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.container .filters button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    float: left;
    border: none;
    border-radius: 4px;
    margin: auto 30px auto auto;
}
.container .filters button:hover {
    background-color: rgba(255, 90, 95, 0.9);
}